@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	border: 0;
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}



.bg-black-gradient {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 67.08%);
}
.bg-black-pink {
    background-image: linear-gradient(180deg, rgba(186, 21, 70, 0) 0%, rgba(255, 26, 95, 0) 67.08%);
}

.pink-gradient {
  background-color:hsla(335,100%,50%,1);
background-image:
radial-gradient(at 100% 0%, hsla(340,100%,76%,1) 0px, transparent 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}